@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'coolvetica';
    src: url("../public/coolvetica.ttf")
}
@font-face {
    font-family: 'roboto';
    src: url("../public/Roboto-Medium.ttf")
}